@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<div class="access-denied-container">
    <header class="access-denied-header">
        <h1 class="text-danger access-denied-title">Access Denied</h1>
        <p class="text-danger access-denied-message">You do not have access to this resource.</p>
    </header>
    <div class="access-denied-actions">
        <a class="btn btn-primary" href="/">Return to Homepage</a>
    </div>
</div>
